body {
	padding: 0;
	margin: 0;
}

header, section {
	margin-left: 20px;
}

h2 {
	text-decoration: underline;
}

label {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
}

input[type="text"] {
	border: none;
	border-bottom: 1px solid black;
	width: 300px;
}

input[type="radio"] {
	margin-right: 10px;
}

.ajout {
	margin-top: 10px;
}

button {
	margin-right: 20px;
}

.btn_list {
	margin-left: 20px;
}

.btn_order {
	margin-top: 20px;
	margin-bottom: 10px;
}

.task_list, .task_details {
	width: calc(100% - 40px);
	border: 1px solid black;
	margin-top: 20px;
	padding: 10px;
	box-sizing: border-box;
}

.task_list > h2, .task_details > h2 {
	margin: 10px;
}